@model CS451R_Fundraiser.Models.FundraiserDonationViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fundraiser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fundraiser.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fundraiser.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fundraiser.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fundraiser.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fundraiser.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fundraiser.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fundraiser.Goal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fundraiser.Goal)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donations)
        </dd>*@
    </dl>

    <hr />



</div>

<table class="table">
    <h4>Donations</h4>
    <thead>
        <tr>
            <th>
                Amount
            </th>
            <th>
                Donation Date
            </th>
            <th>
                Donated by
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Donations!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.donateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
            </tr>
        }
    </tbody>
</table>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
